*{
	padding: 0;	
	margin: 0;
	box-sizing: border-box;
	background-color: #f2f2f2;
}
.topnav{
	background-color:#991c7e;
	padding-left: 700px;
}
.topnav a{
	background-color:#991c7e;
	text-decoration:none ;
	color: #edc0e3;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 15px;
}
.topnav a:hover{
	color: #991c7e;
	background-color:#eee;
			
}
.jsd1{
	font-color:#f2f2f2; 
	font-size: 16px;
	margin-left:1px; 
	background-color: black;
	font-family: 'Montserrat', sans-serif;
}


html, body, main{
	height: 100%;
}
.first{
	height: 100%;
	padding: 0;	
	margin: 0;
	margin-bottom: 150px;
	
	background-color: #eee;
	background-size: cover;
	background-position: center;
	-webkit-background-size: cover;
}
.kok1{
	border-radius: 5px;
	width: 500px;
	height: 500px;
}
.kok1:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 100px 1px #795AC8;
}
.kok{
	font-size: 48px;
	font-family: 'Montserrat', sans-serif;
}
.sell{
	margin-top: 150px;
	margin-right:0;
	width: 100%;
	height: 55%;
	margin-left:0;
	margin-bottom: 120px; 
}
.MBM{
	width: 80%;
	margin-left: 15%;
	padding-top: 110px;
	font-size: 94px;
	line-height: 1;
	letter-spacing: 53px;
	font-weight: bold;

}

.second{
	text-align: center;
	margin: 50px;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.imgod{
	border-radius: 35px;
	margin: 50px;
	width: 14%;
	height: 14%;

}
.imgod:hover{
	transform: scale(1.2) rotate(360deg);
	box-shadow: 0px 0px 100px 1px #795AC8;
}
.vibor{
	margin-top: 150px;
	margin-left: 8%;
	margin-right: 8%;
}
.change{
	font-size: 48px;
	border-radius: 35px;
	color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
	background: #AE9DD9; 
	font-family: 'Montserrat', sans-serif;
    padding: 10px;
}
.change:hover{
	background: #AE9DD9;
	font-size: 56px;
}
.first p{
	color: #000D2C;
	font-family: 'Montserrat', sans-serif;
}

.img1{
	width: 55%;
}

.first-line{
	text-transform: uppercase;
	font-size: 24px;

	font-weight: bold;
	letter-spacing: 1px ;
	line-height: 1;
	opacity: 0.5;
	padding-top: 250px;
}
.second-line{
	text-transform: uppercase;
	font-size: 54px;
	line-height: 1;
	opacity: 0.7;
	font-weight: bold;
}
.third-line{
	font-size: 20px;

}
.text-container{
	width: 40%;
	margin-left: 15%;
	margin-top: 10px;
	margin-bottom: 30px;
}

.koko{
	border-radius: 35px;
	border-width: 3px;
	border-color: #191970;
	font-size: 48px;
	font-family: 'Monsterrat', sans-serif; 
}
.ab{
	border-radius: 35px;
	border-width: 3px;
	border-color: #191970;
	font-size: 48px;
	font-color:#1a013d;
	font-family: 'Monsterrat', sans-serif;
}
.dev{
	column-count: 2;
	border-radius: 20px;
	border-width: 5px;


}
.de{
	width: 50%;

	height: 50%;
}
.de-t{
	background-color: #DEB7FA; 
	font-size: 32px;
	width: 60%;
	height: 40%;
	text-align: center;
	margin-right: 20px;
	margin-left: 0px;
	margin: 20px;
	font-family:'Monsterrat', sans-serif;
}
.r{
	border-radius: 0px;
	border-width: 0px;
	background-color: #DEB7FA;

	font-size: 48px;
	font-color:#160623;
	font-family: 'Monsterrat', sans-serif;
}
.r:hover{
	transform: scale(1.2) rotate(360deg);
	box-shadow: 0px 0px 100px 1px #795AC8;
}
/*Pay*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
  font-family: 'Monsterrat', sans-serif;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Адаптивный макет - когда экран меньше 800 пикселей в ширину, сделайте два столбца стеком друг на друга, а не рядом друг с другом (и измените направление-сделайте столбец "корзина" сверху) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
/*pay off*/
.ju{
	font-size:56px;
	font-family: 'Monsterrat', sans-serif;
}
.jup{
	font-size:46px;
	font-family: 'Monsterrat', sans-serif;
}
.juu{
	background-color: #f2f2f2; 
	margin: 10px;

	border-radius: 35px;
	padding: 10px;
	font-family: 'Monsterrat', sans-serif;
}
.j{
	background-color: #B60C6E;
	font-family: 'Monsterrat', sans-serif;

}
.kya{
	text-align: center;
	border-radius: 35px;
	width: 80%;
	height: 60%;
}
.kkk{
	text-align: center;	
	background-color: #ecc8c9;
	border-radius: 15px;
	font-size: 38px;	
	border-color: #ecc8c9;
	font-family: 'Monsterrat', sans-serif;
}
.kkk:hover{
	transform: scale(1.2) rotate(360deg);
	box-shadow: 0px 0px 100px 1px #795AC8;
	border: none;
	border-radius: 15px;
	font-size: 38px;
	border-color: #bb99b7;
	font-family: 'Monsterrat', sans-serif;
	background-color: #bb99b7;
}
.ku{
	padding: 30px;
	margin-right: 100px;
	margin-left: 100px;
	border-radius: 30px;
	font-family: 'Monsterrat', sans-serif;
}
footer{
	width: 100%;
	height: 100%;
	font-family: 'Monsterrat', sans-serif;	
	font-size: 24px;
	margin-bottom: 0;
	padding-bottom: 0;
}
.downnav{
	width: 100%;
	height: 50%;
	font-family: 'Monsterrat', sans-serif;	
	font-size: 24px;
	text-align: center;
	background-color: #A101A6;
	background-color:#A101A6;
	padding-bottom: 0;
}
.downnav a{
	text-decoration: none;
}
.to{
	background-color: #A101A6;
	padding: 1px;
	padding-bottom: 0;

}
